
body {
  font-size: 17px;
  line-height: 18px;
  font-style: normal;
  font-family: "Cuprum", Arial, sans-serif;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
}


h1 {
  font-size: 30px;
  line-height: 30px;
  font-style: normal;
  font-family: "Cuprum", Arial, sans-serif;

  color: #32425c;
}
h2 {
  font-size: 24px;
  line-height: 30px;
  font-style: normal;
  font-family: "Cuprum", Arial, sans-serif;

  color: #ffffff;
}
footer {
  margin-top: 20px;
  width: 100%;
  background-color: #32425c;
  color: #ffffff;
}
footer a {
  color: #ffffff;
}
ul {
  list-style: none;
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
.main-container {
  width: 960px;
  margin: auto;
  background-color: none;
}
.top-wrapper {
  font-size: 0;
}
.header-top {
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  background: #293449;
}
.header-top a {
  color: #ffffff;
}
.logo-top {
  display: inline-block;
	vertical-align: top;
  width: 220px;
  margin-right: 10px;
  background-color: #ee3643;
}
.search-block {
  display: inline-block;
	vertical-align: top;
  font-size: 17px;

}
.user-action {
  display: inline-block;
  	vertical-align: top;
    font-size: 17px;
  }
  .user-action li {
    display: inline;
  }
  .user-action a {
    text-decoration: none;
  }
  .user-bookmarks {
    display: inline-block;
    	vertical-align: top;
        text-align: right;
        width: 130px;
    }
    .user-basket {
      display: inline-block;
        vertical-align: top;
          text-align: right;
          width: 130px;
      }
      .checkout {
        display: inline-block;
        	vertical-align: top;
          width: 150px;
            text-align: right;
      }

.header-bottom {
  background: #f1f5f7;
}
.header-3-column {
  display: inline-block;
  text-align:left;
    vertical-align: middle;
  width: 960px;
  margin: auto;
}
.header-column {
  float: left;
  width: 300px;
  margin-left: 20px;
  margin-bottom: : 20px;
}

.tel {
  display: inline-block;
  width: 270px;
  border: 3px solid white;

}
.login {
  display: inline-block;
  width: 120px;
  margin-right: 10px;
  background-color: #ffffff;
}
.registration {
  display: inline-block;
  width: 150px;
  background-color: #ffffff;
}
.main-navigation {
  float: left;
   width: 960px;
   height: 60px;
   background: #32425c;
   margin-bottom: 60px;
}

.top-navigation li {
  display: inline;
 padding: 50 20px;
    margin-right: 65px;
}
.top-navigation a {
 text-decoration: none;
  color: #ffffff;
}

.main-header {
  margin-bottom: 25px;
}
.breadcrumbs {
  display: inline-block;
  width: 940px;
  margin-bottom: 25px;

}
.breadcrumbs li {
  display: inline;
  margin-right: 35px;
  background-color: yellow;
}
.breadcrumbs a {
  text-decoration: none;
}

.container-bottom {
  width: 100%;
  height: 260px;
  background-color: #f2f6f8;
}
.bottom-title {
  font-size: 30px;
  line-height: 24px;
  font-style: normal;
  font-family: "Cuprum", Arial, sans-serif;
  text-align: left;
  vertical-align: middle;

  padding-top: 70px;
  color: #000000;
}
.bottom-title p {
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
  font-family: "PTSans", Arial, sans-serif;
  text-align: left;
  vertical-align: middle;

  color: #000000
}
.product-group:last-child {
margin-right: 0;
}
.product-group-01 {
  float: left;
  width: 300px;
  height: 125px;
  margin-right: 20px;
   background-color: #f6b22d;
 }
.product-group-02 {
  float: left;
  width: 300px;
  height: 125px;
  margin-right: 20px;
  background-color: #4aafde;
}
.product-group-03 {
  float: right;
  width: 300px;
  height: 125px;

  background-color: #cc79d1;
}
.product-group-04 {

  float: right;
  width: 300px;
  height: 125px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #85d179;
}
.product-group-05 {
  clear: both;
  float: right;
  width: 300px;
  height: 125px;
  background-color: #f6b22d;
}
.slider-product-group {

  float: left;
  width: 620px;
  height: 270px;
  margin-left: 0;
}
.main-show {
  margin-bottom: 20px;
}
.goods {
  font-size: 0px;
}
.goods li {
  display: inline-block;
  width: 220px;
  margin-right: 0px;
  vertical-align: top;
}
  .good-item1 {

  width: 220px;
  height: 320px;
  margin-right: 20px;
  padding-left: 0;
  margin-left: 0;
  border: 1px solid #e5e5e5;
  }
  .good-item2 {

    width: 220px;
    height: 320px;
    margin-right: 20px;
    border: 1px solid #e5e5e5;
  }
  .good-item3 {

    width: 220px;
    height: 320px;
    margin-right: 20px;
    border: 1px solid #e5e5e5;
  }
  .good-item4 {

    width: 220px;
    height: 320px;
    margin: 0;
    border: 1px solid #e5e5e5;

  }
  .makers {
    font-size: 0px;
  }
  .maker:nth-last-child(3n+6) {
    margin-right: 0;
  }
  .makers li {
    display: inline-block;
    width: 220px;
    height: 145px;
    vertical-align: top;
    margin-right: 0px;
    margin-bottom: 20px;
      border: 1px solid #e5e5e5;
      text-align: center;

  }

  .content-title {
      margin-bottom: 20px;
  }
  .form {

    float: left;
    width: 220px;
    margin-right: 10px;
    background-color: rgba(255, 0, 0, 0.3);
  }
  .sort {
    float: right;
    width: 700px;
    margin-bottom: 20px;
    background-color: rgba(255, 0, 0, 0.3);
  }
  .all-good {
  float: right;
  font-size: 0;
}
.all-goods li {
    display: inline-block;
    width: 220px;
    height: 325px;
    border: 1px solid #e5e5e5;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 0, 0, 0.3);
  }


  .goods {

    margin-bottom: 20px;
  }

  .popular-makers {
    margin-bottom: 20px;
  }
  .popular-title {
    display: inline-block;
  width: 960px;
  margin-bottom: 20px;
  background-color: #f7f3ec;
  }
  .service {
    background-color: #f2f6f8;
    width: 100%;
    margin-bottom: 20px;
  }
  .company-about {
    float: left;
    width: 530;
    margin-right: 100px;
  }
  .company-contacts {
    float: right;
    width: 320;
  }
  .logo-bottom {
    float: left;
    width: 220px;
    margin-right: 10px;
    background-color: #ee3643;
  }
  .footer-contacts {
    clear:both;
    width: 325px;
    height: 40px;
    margin-right: 0;
  }
  .footer-navigation {
  float: right;
    width: 600px;
    height: 30px;
    margin-left: 170px;
  }
  .footer-menu1 li {
    display: inline;
   padding: 50 20px;
      margin-right: 60px;
  }
  .footer-menu1 a {
     text-decoration: none;
      color: #ffffff;
   }
  .goods-navigation {
  float: right;
    width: 600px;
    height: 30px;
    margin-bottom: 70px;

  }
  .footer-menu2 li {
    display: inline;
   padding: 50 20px;
      margin-right: 60px;
  }
   .footer-menu2 a{
     text-decoration: none;
      color: #ffd180;
   }
  .footer-top {

   }

  .footer-bottom {
    display: inline-block;
    background-color: #293449;
    width: 100%;
    height: 105px;
    padding: 10px;
    vertical-align: middle;

    }
    .rights {
      float: left;
      width: 235px;
      margin-right: 150px;
      vertical-align: middle;
    }
    .share{
      float: left;
      width: 140px;
      margin-right: 115px;
      vertical-align: middle;
    }
    .social {
      display: inline-block;
      width: 40px;
      height: 40px;
      background: #212a3a;
      margin-top: 35px;
      vertical-align: middle;
    }
    .feedback {
      float: left;
      width: 145px;
      margin-right: 50px;
      vertical-align: middle;

    }
    .footer-copyright {
      float: right;
      width: 110px;
      vertical-align: middle;


    }
