* {
  box-sizing: border-box;

}
body {
  font-size: 17px;
  line-height: 18px;
  font-style: normal;
  font-family: "Cuprum", Arial, sans-serif;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: ;
}



h1 {
  font-size: 30px;
  line-height: 30px;
  font-style: normal;;
  font-family: "Cuprum", Arial, sans-serif;
  color: #32425c;
}
h2 {
  font-size: 24px;
  line-height: 30px;
  font-style: normal;
  font-weight: bold;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
}
footer {
  width: 100%;
  min-height: 300px;
  background-color: #32425c;
  color: #ffffff;
}
footer a {
  color: #ffffff;
}
ul {
  list-style: none;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-container {
  width: 960px;
  margin: auto;
}
.main-header {
  margin-bottom: 20px;
}
.header-top {
  width: 100%;
  min-height: 40px;
  background: #293449;


}
.header-top a {
  color: #ffffff;
}
.top-wrapper {
  font-size: 0;
}
.logo-top {
  display: inline-block;
  width: 220px;
  min-height: 40px;
  margin-right: 25px;
  background: #ee3643;
  border: 5px solid #ee3643;
  border-bottom-color: #b52933;
}
.logotip {
display: block;
padding: 12px 55px 12px 55px;
}
.logo-top a:hover {
  background: #ca2c37;
  }
  .logo-top a:active {
    background: #ba2732;
  }
.search-block {
  display: inline-block;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;

  padding-left: 25px;
  position: relative;
}
input[type="search"]{
border: none;
  background-color: #293449;
width: 200px;

  }
  .search-block::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    background-position: -227px -70px;
  }
  . a:hover {
  color: #;
  }
  . a:active {
    color: #;
  }
.user-action {
  display: inline-block;
  }
.user-action ul {
  margin: 0;
  padding: 0;
}
.user-action li {
  display: inline-block;
  }
  .user-action:last-child {
    margin-right: 0;
  }
.user-action a {
  text-decoration: none;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  font-family: "Cuprum", Arial, sans-serif;
}
.user-bookmarks-btn {


}
.user-bookmarks {
  display: block;
  padding-left: 45px;
  text-align: center;
  width: 150px;
  min-height: 40px;
  position: relative;
}
.user-bookmarks::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 25px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 14px;
  height: 16px;
  background-position: -47px -10px;
}
.
.user-bookmarks:hover::before {
  background: url("../img/icon-bookmarks-white.png");
  background-repeat: no-repeat;


  }
  .user-bookmarks:active::before {
    background-image: url("../img/sprite-2.png");
    background-repeat: no-repeat;
    display: block;
    width: 14px;
    height: 16px;
    background-position: -118px -10px;
  }
  .user-bookmarks:active {
    color: #909399;
  }
.user-basket {
  display: block;
  padding-left: 45px;
  text-align: center;
  vertical-align: middle;
  width: 150px;
  min-height: 40px;
  position: relative;
}
.user-basket::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 25px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 16px;
  background-position: -10px -10px;
}
.user-basket:hover::before {
  background-image: url("../img/sprite-2.png");
  background-repeat: no-repeat;
  display: block;
  width: 17px;
  height: 16px;
  background-position: -10px -10px;
        }
.user-basket:active::before {
  background-image: url("../img/sprite-2.png");
  background-repeat: no-repeat;
  display: block;
  width: 17px;
  height: 16px;
  background-position: -47px -10px;
}
.user-basket:active {
    color: #8b8e94;
  }

.checkout {
  display: inline-block;
  width: 150px;
  min-height: 40px;
  text-align: center;
  background-color: #63a63e;
  padding-top: 16px;
  padding-bottom: 17px;
}
.checkout:hover {
  background: #5fbb2d;
  }
  .checkout:active {
    background: #518534;
    color: #9ebb8e;
  }
.header-bottom {
  background: #f1f5f7;
}
.header-3-column {
  display: inline-block;
  text-align:left;
  vertical-align: top;
  width: 960px;
  margin-top: 40px;
}
.header-column {
  float: left;
  width: 300px;

}
.internet-shop {
  margin-left: 20px;
}
.internet-shop p {
  color: #ee4f5b;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-family: "Cuprum", Arial, sans-serif;
}
.contact {
  margin-left: 20px;
}
.phone {
  display: inline-block;
  width: 270px;
  border: 3px solid white;
  color: #e9292a;
  padding: 10px 50px;
  font-size: 21px;
  line-height: 18px;
  font-weight: bold;
  font-family: "Cuprum", Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  position: relative;
}
.phone::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  background-position: -145px -199px;
}
.contact p{
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Cuprum", Arial, sans-serif;
  padding-bottom: 45px;
}
.user-block {
  display: inline;
  width: 310px;
  margin-left: 65px;
}
.login-btn {
  display: inline-block;
  margin-right: 10px;
}
.login {
  display: block;
  width: 120px;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  padding: 16px;
  padding-left: 47px;
  font-size: 21px;
  line-height: 18px;
  font-weight: bold;
  font-family:"Cuprum", Arial, sans-serif;
  position: relative;
}
.login::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 17px;
  background-position: -105px -199px;
}
.login:hover::before {
  background-position: -45px -157px;
  background-image: url("../img/sprite-2.png");
}
.login:active::before {
  background-image: url("../img/sprite.png");
  background-position: -105px -199px;
}
.login-btn a:hover {
  color: #f7a1a7;
}
.login-btn a:active {
  color: #c5c5c5;
}
.registration-btn {
  display: inline-block;
}
.registration {
  display: block;
  width: 150px;
  padding: 16px;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  font-size: 21px;
  line-height: 18px;
  font-weight: bold;
  font-family:"Cuprum", Arial, sans-serif;
}
.registration-btn a:hover {
  color: #f7a1a7;
}
.registration-btn a:active {
  color: #c5c5c5;
}
.main-navigation {
  float: left;
  width: 960px;
  min-height: 60px;
  background: url("../img/menu.jpg");
  margin-bottom: 60px;
}
.top-navigation {
  display: inline;
  padding-left: 0;
}
.top-navigation li {
  display: inline-block;
}
.top-navigation a {
  display: block;
width: auto;
padding: 20px 33px;
font-size: 17px;
line-height: 17px;
font-weight: normal;
font-family: "Cuprum" Arial sans-serif;
  text-decoration: none;
  color: #ffffff;
}
.top-navigation a:hover {
  background: #293449;
  color: #d4d6db;
}
.top-navigation a:active {
  background: #1d2739;
  color: #616875;
}
.main-show {
  font-size: 0;
  padding: 0;
  margin-bottom: 20px;
}
.main-show-item,
.main-show-item-wrapper {
  width: 33.333%;
  padding: 0 20px 20px 0;
  display: inline-block;
  vertical-align: top;
}
.main-show-item h2,
.main-show-item-wrapper h2 {
	margin: 0;
}
.main-show-item-block {

}
.main-show-item-big {
  width: 66.666%;
  display: inline-block;
  vertical-align: bottom;
  min-height: 270px;

}
.main-show-slider {
  position: relative;
}
.slider-product-group {
  position: absolute;
  left: 0;
  right: 0;
  width: 620px;
  height: 266px;
  z-index: 1;
}
.slider-product-group h2 {
  font-size: 36px;
  font-family: "Cuprum" Arial sans-serif;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  margin: 0;
  top: 25px;
  left: 25px;
  text-align: left;
  position: absolute;
  z-index: 5;
}
.slider-product-group p{
  font-size: 18px;
  font-family: "PTSans" Arial sans-serif;
  color: #ffffff;
  line-height: 24px;
  margin: 0;
  top: 65px;
  left: 25px;
  text-align: left;
  position: absolute;
  z-index: 10;
}
.slider-product-group a{
  position: absolute;
  left: 25px;
  top: 205px;
  width: 195px;
  height: 40px;
  background-color: #ee3643;
  border-radius: 3px;
  font-size: 14px;
  font-family: "Cuprum" Arial sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 13px;
  line-height: 18px;
  text-align: center;
  z-index: 20;
}
.slider-product-group a:hover {
  background-color: #ca2c37;
  color: ;
}
.slider-product-group a:active {
  background-color: #ba2732;
}
.slider-control a::before {
  content: "";
  position: absolute;
  top: 190px;
  left: 25px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 22px;
  height: 40px;
  background-position: -190px -139px;
  z-index: 15;
}
.product-group {
  min-height: 123px;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
}
.product-group h2 {
	padding-top: 25px;
  padding-left: 23px;
  padding-bottom: 14px;
}
.product-group a {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  width: 135px;
  display: inline-block;
  text-align: center;
  padding: 13px 22px;
  margin-left: 25px;
  margin-bottom: 22px;
  background-color: rgba(229,229,229,0.3);
  border-radius: 3px;

}
.product-group a:hover {
  background-color: rgba(204,204,204,0.3);
}
.product-group a:active {
  background-color: rgba(178,178,178,0.3);
}
.product-group-01 {
  background-color: #f6b22d;
  position: relative;
}
.product-group-01::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 235px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 44px;
  height: 65px;
  background-position: -81px -10px;

}
.product-group-02 {
  background-color: #4aafde;
  position: relative;
}
.product-group-02::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 235px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 75px;
  height: 61px;
  background-position: -10px -147px;
}
.product-group-03 {
  background-color: #cc79d1;
  position: relative;
}
.product-group-03::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 235px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 78px;
  height: 62px;
  background-position: -184px -199px;
}
.product-group-04 {
  background-color: #85d179;
  position: relative;
}
.product-group-04::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 235px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 59px;
  height: 72px;
  background-position: -145px -10px;
}
.product-group-05 {
  background-color: #f6b22d;
  position: relative;
}
.product-group-05::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 235px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 78px;
  height: 63px;
  background-position: -296px -10px;
}
.popular-title {
  display: inline-block;
  width: 940px;
  height: 90px;
  margin-bottom: 20px;
  background-color: #f7f3ec;
}
.popular-title h1 {
  float: left;
  color: #32425c;
  margin: 25px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
}
.popular-title a {
  float: right;
  background-color: #e9292a;
  margin: 25px;
  padding: 13px 55px;
  vertical-align: middle;
  width: 255px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
.popular-title-btn {
vertical-align: middle;
}
.catalog-items{
    width:940px;
    margin:20px auto;
}
.catalog-items:last-child {
  margin-right: 0;
}
.catalog-items .row{
    margin-left:-20px;
}
.catalog-item{
    position:relative;
    display:inline-block;
    width:218px;
    margin-left:20px;
    margin-bottom:20px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
    font-size:18px;
    font-family: "PTSans" Arial sans-serif;
}
.catalog-items{
    font-size:0;
}
.catalog-item{

}
.catalog-item .flag{
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}
.catalog-item .flag-new{
    background:url("../img/newflag.png") no-repeat 0 0;
}

.catalog-item .actions{
    position:absolute;
    top:0;
    left:0;
    width:213px;
    height:168px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}
.catalog-item .actions .buy,
.catalog-item .actions .bookmark{
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315;
    background-color:#63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;
    border-radius:3px;
}
.catalog-item .actions .bookmark{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}
.catalog-item .actions{
    display:none;
}
.catalog-item:hover .actions{
    display:block;
    background-color: #ffffff;
}
.catalog-item .image{
    width: 218px;
    height: 168px;
}

.catalog-item .image img{
    max-width:100%;
}
.catalog-item .title{
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:15px;
}
.catalog-item .discount{
    min-height:20px;
    margin-top:15px;
    margin-bottom:10px;
    font-size:17px;
    line-height: 18px;
    font-weight: bold;
    font-family: "PTSans" Arial sans-serif;
    color:#999999;
    text-transform: uppercase;
    text-decoration:line-through;
}
.catalog-item .price{
    position:relative;
    width:140px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;
    color:white;
    font-size:17px;
    line-height: 18px;
    font-weight: bold;
    font-family: "PTSans" Arial sans-serif;
    text-transform: uppercase;
    background:#ee3643;
    border-radius:3px;
}
.catalog-item .price:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}
.popular-makers {
  font-size: 0;
  padding: 0;
  margin-bottom: 20px;
}
.maker-list {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-bottom: 20px;

}
.maker-list a:hover {
    box-shadow: 0 5px 25px 0px  #abafb8;
}
.maker-list a:active {
  box-shadow: 0 5px 10px 0  #abafb8,
  inset 0 0 150px 0 rgba(195, 195, 195, 0.5);
}
.maker  {
  display: block;
  width: 220px;
  height: 145px;
  border: 1px solid #e5e5e5;
}
.maker1 {
  background: url("../img/bosch.png") no-repeat;
  background-position: center;
}
.maker2 {
  background: url("../img/makita.png") no-repeat;
  background-position: center;
}
.maker3 {
  background: url("../img/dewalt.png") no-repeat;
  background-position: center;
}
.maker4 {
  background: url("../img/inter.png") no-repeat;
  background-position: center;
}
.maker5 {
  background: url("../img/hitachi.png") no-repeat;
  background-position: center;
}
.maker6 {
  background: url("../img/lg.png") no-repeat;
  background-position: center;
}
.maker7 {
  background: url("../img/aeg.png") no-repeat;
  background-position: center;
}
.maker8 {
  background: url("../img/metabo.png") no-repeat;
  background-position: center;
}
.maker-list:nth-child(4n+4) {
  margin-right: 0;
}
.service {
  background-color: #f2f6f8;
  width: 100%;
  min-height: 530px;
}
.service-description h2 {
  font-size: 30px;
  font-family: "Cuprum" Arial sans-serif;
  color: #000000;
  text-transform: uppercase;
    line-height: 0.8;
    padding-top: 70px;
}
.service-description p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PTSans" Arial sans-serif;
}
.service h2 {
  color: #000000;
}

.service-block {

}
.conditions {
	display: inline-block;
  width: 240px;
  height: 185px;
  margin: 0;
  padding: 0;
  vertical-align: middle;

}
.conditions a {
  display: block;
  text-decoration: none;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  background-color: #32425c;
  border: 1px, solid #405069;
  border: 1px, solid #293449;
}
.conditions a:hover {
  background-color: #293449;
}
.conditions .active a {
  color: #32425c;
  background-color: #ffffff;
}
.services-frame-list {
	display: inline-block;
	width: 700px;
	min-height: 200px;
	vertical-align: middle;
  position: relative;

}
.services-frame-delivery {
  position: absolute;
  width: 700px;
  top: 0;
  left: 0;
}
.services-frame-delivery  img {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}
.services-frame-guarantee {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.services-frame-credit {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.company-info {
  margin: 0;
  padding: 0;
  min-height: 370px;
  margin-bottom: 85px;
  margin-top: 80px;
}
.company-about {
  float: left;
  width: 540px;
  min-height: 375px;
  margin-right: 120px;
}
.company-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  font-style: normal;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
}
.company-info p {
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  font-family: "PTSans", Arial, sans-serif;
  margin: 0;
  margin-bottom: 30px;
}
.company-about p:last-child {
  margin-bottom: 25px;
}
.company-info a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    font-family: "Cuprum", Arial, sans-serif;
}
.company-about ul {
  margin: 0;
  margin-bottom: 20px;
}
.company-about li {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", Arial, sans-serif;
padding-bottom: 20px;
}

.btn-more {
  display: inline-block;
  text-align: center;
  width: 220px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #e9292a;
  border-radius: 3px;


}
.company-contacts {
  float: right;
  width: 300px;
  min-height: 375px;
}
.company-contacts p {
  margin-bottom: 0;
}
.map {
  width: 300px;
  min-height: 160px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.btn-write {
  display: inline-block;
border-radius: 3px;
  width: 100%;
  padding: 14px 55px;
    background-color: #e9292a;


}
.footer-top {
}
.footer-top-left {
  float: left;
  width: 335px;
  margin: 0;
  padding: 0;
}
.logo-bottom {
  float: left;
  width: 220px;
  text-align: center;
  padding: 18px 0;
  background-color: #ee3643;
  border: 5px solid #ee3643;
  border-bottom-color: #b52933;
  margin-bottom: 30px;
}
.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
  font-family: "Cuprum", Arial, sans-serif;
  float: left;
  width: 325px;
}
.footer-top-right {
    float: right;
    width: 600px;
    margin: 0;
    padding: 0;
}
.footer-navigation {
float: right;
}
.footer-menu1 li {
  display: inline-block;
  vertical-align: top;
  margin-right: 60px;
  margin-top: 20px;

}
.footer-menu1 a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}
.footer-menu1 a:hover {
  text-decoration: underline;
}
.footer-menu1 a:active {
  color: #788495;
}
.footer-menu1 li:last-child {
  margin-right: 0;
}
.goods-navigation {
  float: right;
  margin-bottom: 70px;
}
.footer-menu2 li {
  display: inline-block;
  vertical-align: top;
  margin-right: 60px;
}
.footer-menu2 li:last-child {
  margin-right: 0;
}
.footer-menu2 a{
  text-decoration: none;
  color: #ffd180;
}
.footer-menu2 a:hover {
    text-decoration: underline;
}
.footer-menu2 a:active {
  color: #626464;
}

.footer-bottom {
  background-color: #293449;
  width: 100%;
  min-height: 105px;
  display: inline-block;
  vertical-align: top;
  padding-top: 35px;
}
.footer-bottom p {
  margin-top: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  font-family: "Cuprum", Arial, sans-serif;
}
.footer-bottom a {
  text-decoration: none;
  color: #ffd180;
}
.rights {
  float: left;
  width: 235px;
  margin-right: 150px;
}
.share{
  float: left;
  width: 160px;
  margin-right: 100px;
}
.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  background: #212a3a;
  vertical-align: middle;
  font-size: 0;
position: relative;
}
.social::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}
.social-vk::before {
  width: 20px;
  height: 12px;
  background-position: -264px -93px;
}
.social-fb::before {
  width: 10px;
  height: 18px;
  background-position: -224px -10px;
}
.social-inst::before {
  width: 17px;
  height: 17px;
  background-position: -190px -102px;
}
.social:hover {
  background: #ee3643;
  }
  .social:active {
    background: #ee3643;
  }
.feedback {
  float: left;
  width: 145px;
  margin-right: 52px;
  vertical-align: middle;
}
.feedback a:hover {
  text-decoration: underline;
  }
  .feedback a:active {
    color: #ee3643;
  }
.footer-copyright {
  float: right;
  width: 110px;
  vertical-align: middle;
}
.footer-copyright a:hover {
  text-decoration: underline;
  }
  .footer-copyright a:active {
    color: #ee3643;
  }
.breadcrumbs {
  display: inline-block;
  width: 940px;
  margin: 0;

}
.breadcrumbs ul {
padding-left: 0;
}
.breadcrumbs li {
  display: inline-block;
}
.home a {
  text-transform: none;
  display: none;
  margin: 0;
  padding: 0;

}
.breadcrumbs a {
  display: block;
  width: 120px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  font-family: "PT+Sans" Arial sans-serif;
  color: #000000;
  text-transform: uppercase;
  position: relative;

}
.breadcrumbs a::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite-2.png");
  background-repeat: no-repeat;
  display: block;
  width: 8px;
  height: 12px;
  background-position: -174px -128px;
  background-color: black;
}
.content-title {
  margin-bottom: 20px;
  background-color: #f2f6f8;
}
.content-title h1 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 30px;
  color: #32425c;
  padding: 33px 30px;
}
.left-content-column {
  width: 220px;
  margin-right: 20px;
}
.filter {
  display: inline-block;
  float: left;
  width: 220px;
  min-height: 40px;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  font-family: "PTSans" Arial sans-serif;
  text-transform: uppercase;
  background-color: #f7f3ec;
  padding: 13px 18px;
}
.form {
  float: left;
  width: 220px;
  margin-right: 10px;
  background-color: #ffffff;
  border-style: hidden;
  padding: 0;
  margin: 0;
}
.price {
  display: inline-block;
  vertical-align: top;
}
.price-min {
  display: inline-block;
  width: 95px;
  min-height: 40px;
  margin-left: 0;
  margin-right: 25px;
  padding: 13px 44px;
  background-color: #f7f3ec;
}
.price-max {
  display: inline-block;
  width: 95px;
  min-height: 40px;
  padding: 13px 25px;
  background-color: #f7f3ec;
}
.makers-column {
  border-style: hidden;
  margin: 0;
  padding: 0;
}
.makers-column ul {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  font-family: "PTSass" Arial sans-serif;
  text-transform: uppercase;
}
legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  font-family: "PTSass" Arial sans-serif;
  text-transform: uppercase;
}
.supply {
  border-style: hidden;
  margin: 0;
  padding: 0;
}
.supply ul {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-family: "PTSass" Arial sans-serif;
  text-transform: uppercase;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: block;
  margin: 10px 0;
  line-height: 20px;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
}
input[type="checkbox"] + label::before {
  content: "";
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  background-position: -10px -102px;
  position: absolute;
  top: 0;
  left: 0;
}
input[type="checkbox"] + label:hover::before {
  background-image: url("../img/sprite-2.png");
  background-repeat: no-repeat;
  display: block;
  width: 23px;
  height: 23px;
  background-position: -152px -10px;
  position: absolute;
  top: 0;
  left: 0;
}
input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
  background-position: -53px -102px;

}
input[type="checkbox"]:checked + label:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background-position: -53px -53px;
  background-image: url("../img/sprite-2.png");
  background-repeat: no-repeat;
  display: block;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  display: block;
  margin: 10px 0;
  line-height: 20px;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
}
input[type="radio"] + label::before {
  content: "";

  width: 25px;
  height: 25px;
  background-position: -100px -102px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
input[type="radio"] + label:hover::before {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/sprite-2.png");
  background-repeat: no-repeat;
  display: block;
  width: 25px;
  height: 25px;
  background-position: -147px -53px;
}
input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  background-position: -145px -102px;
}
input[type="radio"]:checked + label:hover::after {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/sprite-2.png");
  background-repeat: no-repeat;
  display: block;
  width: 25px;
  height: 25px;
  background-position: -55px -98px;
}
.btn {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "PTSans" Arial sans-serif;
  background: #ffffff;
  text-align: center;
  border-style: hidden;
  border: 1px solid #e5e5e5;
  padding: 14px 38px;

}
.right-content-column {
  width: 700px;
  float: right;
}
.sort {
  display: inline-block;
  width: 700px;

  background-color: #f7f3ec;

}
.sort-header {
  display: inline-block;
  width: 150px;
  padding: 13px 20px;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  font-family: "PTSans" Arial sans-serif;
}
.sort-list {
  display: inline-block;
  width: 550px;
  float: right;
  margin: 0;
}
.sort li {
  display: inline-block;

}
.sort a {
  display: block;
  padding: 13px 35px 13px 0;
  text-decoration: none;
  border-bottom: 1px dotted #ee3643;
  color: #b2b2b2;
}
.list-goods-catalog {
  width: 700px;
  margin-left: 0;
  margin:20px 0;
  font-size: 0;
}
.list-goods-catalog .row {
width: 700px;
margin-left: 0;
padding-left: 0;
  margin-right: -20px;
}
.list-goods-catalog .row .catalog-item {
  margin-left: 0;
margin-right: 20px;
}

.list-goods-catalog .row .catalog-item:nth-child(3n+3) {
  margin-right: 0;
}

.all-btn-page {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 50px;

}
.all-btn-page li {
display: inline-block;
min-width: 40px;
border: 1px solid #e5e5e5;
margin-right: 10px;
}
.all-btn-page a {
  display: block;
  padding: 14px 16px;
text-decoration: none;
color: #000000;
font-size: 13px;
line-height: 18px;
font-family: "PTSans", Arial, sans-serif;
}
.all-btn-page li:hover {
  border: 1px solid #bdc6ca;
}
.all-btn-page li:active {
  border: 1px solid #ee3643;
}
.all-btn-page .active a {
  background-color: #ee3643;
  color: #ffffff;
}
.container-bottom {
  width: 100%;
  background-color: #f2f6f8;
  margin-bottom: 0;
}
.bottom-title {
  font-size: 30px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
  font-family: "Cuprum", Arial, sans-serif;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  padding-top: 70px;
}
.container-bottom p {
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
  font-family: "PTSans", Arial, sans-serif;
  text-align: ;
  color: #000000;
  padding-bottom: 70px;
  margin-bottom: 0;
}
